.container-upload{
    background-color: white;
    /* padding: 30px; */
    border-radius: 30px;
    border-width: medium;
    border-color: gray;
    border-style: dashed;
    text-align: center;
}

.btn-style{
    /* margin: 10px; */
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    border: none;
}
/* 
.btn-container{
    margin-top: 100px;
    padding-top: 200px;
} */

main{
    align-items: center;
}